@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-envisionly-blue: theme('colors.envisionlyBlue');
	--color-envisionly-transparent-blue: theme('colors.envisionlyTransparentBlue');
	--color-envisionly-gold: theme('colors.envisionlyGold');
	--color-envisionly-transparent-gold: theme('colors.envisionlyTransparentGold');
	--color-envisionly-light-blue: theme('colors.envisionlyLightBlue');
	--color-gray-100: theme('colors.gray.100');
}
